<h1>Listing employees</h1>

<table class='sales'>
  <tr>
    <th>Name </th>
    <th>Email</th>
    <th>Address</th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.first_name %> <%= employee.middle_name %> <%= employee.last_name %></td>
    <td><%= employee.email %></td>
    <td><%= employee.address %></td>
    <td><%= link_to 'Show', employee %>
    <%= link_to 'Edit', edit_employee_path(employee) %>
    <%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>

