<h1>Employees</h1>
<br />
<table class='sales'>
  <tr>
    <th>Name </th>
    <th>Email</th>
    <th>Address</th>
    <th class='aligncenter'>Action</th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= fullname2(employee) %></td>
    <td><%= employee.email %></td>
    <td><%= employee.address %></td>
    <td class='aligncenter'>
    <%= link_to 'Edit', edit_employee_path(employee) %>
    <%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

