<p id="notice"><%= notice %></p>

<p>
  <label>Name:</label>
  <span><%= fullname2(@employee) %></span>
</p>

<p>
  <label>Email:</label>
  <span><%= @employee.email %></span>
</p>

<p>
  <label>Address:</label>
  <span><%= @employee.address %></span>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>

