<%= form_for(@store_config) do |f| %>
  <% if @store_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_config.errors.count, "error") %> prohibited this store_config from being saved:</h2>

      <ul>
      <% @store_config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :fax %>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit "Configure Store" %>
  </div>
<% end %>

