<h1>Listing store_configs</h1>

<table>
  <tr>
    <th>Company name</th>
    <th>Email</th>
    <th>Fax</th>
    <th>Phone</th>
    <th>Website</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_configs.each do |store_config| %>
  <tr>
    <td><%= store_config.company_name %></td>
    <td><%= store_config.email %></td>
    <td><%= store_config.fax %></td>
    <td><%= store_config.phone %></td>
    <td><%= store_config.website %></td>
    <td><%= store_config.address %></td>
    <td><%= link_to 'Show', store_config %></td>
    <td><%= link_to 'Edit', edit_store_config_path(store_config) %></td>
    <td><%= link_to 'Destroy', store_config, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store config', new_store_config_path %>
