<h1>Store Configuration</h1>
<br />
<% unless @store_configs.blank? %>
  <table class='shorttable'>
    <tr>
      <th>Company name</th>
      <th>Email</th>
      <th>Fax</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Action</th>
    </tr>



  <% @store_configs.each do |store_config| %>
    <tr>
      <td><%= store_config.company_name %></td>
      <td><%= store_config.email %></td>
      <td><%= store_config.fax %></td>
      <td><%= store_config.phone %></td>
      <td><%= store_config.address %></td>
      <td><%= link_to 'Show Detail', store_config %> | <%= link_to 'Edit', edit_store_config_path(store_config) %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

