<div id="item_container">

<p>
  <label>Company name:</label>
  <span><%= @store_config.company_name %></span>
</p>

<p>
  <label>Email:</label>
  <span><%= @store_config.email %></span>
</p>

<p>
  <label>Fax:</label>
  <span><%= @store_config.fax %></span>
</p>

<p>
  <label>Phone:</label>
  <span><%= @store_config.phone %></span>
</p>

<p>
  <label>Website:</label>
  <span><%= @store_config.website %></span>
</p>

<p>
  <label>Address:</label>
  <span><%= @store_config.address %></span>
</p>
<p>
  <label>&nbsp;</label>
  <span><%= link_to 'Edit', edit_store_config_path(@store_config), :class => "link" %>  &nbsp; <%= link_to 'Back', store_configs_path, :class => "link" %></span>
</p>

</div>

