<div id="mainLeftReceiving">
  <div id="receiving_label">
    <ul>
      <li><%= label_tag "","Delete ", :class => "shortlabel" %></li>
      <li><%= f.label :item_id, " Item Name", :class => "longlabel"  %></li>
      <li><%= f.label :unit_cost, "Cost Price", :class => "longlabel" %></li>
      <li><%= f.label :unit_price, "Unit Price", :class => "shortlabel" %></li>
      <li><%= f.label :quantity, "Quantity" , :class => "shortlabel"%></li>
      <li><%= f.label :discount, " Discount %" , :class => "shortlabel"%></li>
      <li><%= f.label :amount, "Amount", :class => "longlabel" %></li>
    </ul>
    <div class="clearfloat"></div>
  </div>

  <div id="receive_append">
    <%= f.fields_for :receiving_items do |f| %>
       <div id="receive1">
          <%= link_to "Delete" , "#", :id => "receiving_deleteitem0", :class => "receiving_deleteitem"  %>
          <%= text_field_tag 'r_item_name','', :size => 10, :class => "r_item_name0_",:id => "r_item_name0_"  %>
          <%= f.hidden_field :item_id, :value => "", :size => 5, :class => "r_item_id" %>
          <%= f.text_field :cost_price, :size => 10, :class => "r_cost_price" %>
          <%= f.text_field :unit_price, :size => 10, :class => "r_unit_price" %>
          <%= f.text_field :quantity, :size => 10, :class => "r_quantity", :onkeyup => "getthefieldid(this.id)"  %>
          <%= f.text_field :discount, :size => 10, :class => "r_discount" %>
          <%= text_field_tag :amount, "", :size => 10, :class => "r_amount0_", :id => "r_amount0_", :readonly => "readonly" %>
        </div>
    <% end %>
  </div>
  <%= link_to "Add More", "#", :id => 'receive_add_item' %> <%= link_to "New Item", newitem_items_path, :target => "_blank" %>
</div>

