<h1>Listing receivings</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Supplier</th>
    <th>Comment</th>
    <th>Receive type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @receivings.each do |receiving| %>
  <tr>
    <td><%= receiving.employee_id %></td>
    <td><%= receiving.supplier_id %></td>
    <td><%= receiving.comment %></td>
    <td><%= receiving.receive_type %></td>
    <td><%= link_to 'Show', receiving %></td>
    <td><%= link_to 'Edit', edit_receiving_path(receiving) %></td>
    <td><%= link_to 'Destroy', receiving, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Receiving', new_receiving_path %>
