<p>
  <b>Date Deliver:</b>
   <span><%= @receiving.created_at.strftime("%B %d, %Y %l:%M:%S %p") %></span>
</p>
<p>
  <b>Employee:</b>
   <span><%=fullname(@receiving.employee) %></span>
</p>

<p>
  <b>Supplier:</b>
   <span><%= @receiving.supplier.company_name unless @receiving.supplier.blank?  %></span>
</p>

<p>
  <b>Comment:</b>
   <span><%= @receiving.comment %></span>
</p>
<br />

<div id="tableContainer">

<table>
  <tr>
    <th>Name</th>
    <th>Cost Price</th>
    <th>Quantity</th>
    <th>Discount (%)</th>
    <th>Amount</th>
  </tr>
 <% @receiving.receiving_items.each do |item| %>
  <tr>
    <td><%= item.item.name %></td>
    <td class='alignright'><%= item.cost_price %></td>
    <td class='alignright'><%= item.quantity %></td>
    <td class='alignright'><%= item.discount %></td>
    <td class='alignright'><%= item.amount %></td>
  </tr>
<% end %>
</table>
</div>

