<h1>Listing customers</h1>

<table class='sales'>
  <tr>
    <th>Name</th>
    <th>Phone number</th>
    <th>Email</th>
    <th>Comments</th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.first_name %> <%= customer.last_name %></td>
    <td><%= customer.phone_number %></td>
    <td><%= customer.email %></td>

    <td><%= customer.comments %></td>
    <td><%= link_to 'Show Details', customer %>
      <%= link_to 'Edit', edit_customer_path(customer) %>
    <%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

