<h1>Customer Information</h1>
<br />
<div id="item_container">
<p>
  <label>Name </label>
  <span><%= fullname(@customer) %></span>
</p>

<p>
  <label>Phone number </label>
  <span><%= @customer.phone_number %></span>
</p>

<p>
  <label>Email </label>
  <span><%= @customer.email %></span>
</p>

<p>
  <label>Street Address </label>
  <span><%= @customer.street_address %></span>
</p>

<p>
  <label>City </label>
  <%= @customer.city %></span>
</p>

<p>
  <label>State </label>
  <span><%= @customer.state %></span>
</p>

<p>
  <label>Country </label>
  <span><%= I18n.t @customer.country, :scope => 'countries' %></span>
</p>

<p>
  <label>Comments </label>
  <span><%= @customer.comments %></span>
</p>
<p>
  <label>&nbsp;</label>
  <span><%= link_to 'Edit', edit_customer_path(@customer), :class => "link" %>
</span>
</p>


</div>

