<div id="item_container">
<p>
  <label>Name:</label>
  <span><%= @item.name %> </span>
</p>

<p>
  <label>Category:</label>
  <span><%= @item.category %></span>
</p>

<p>
  <label>Supplier:</label>
  <span><%= @item.supplier.company_name unless @item.supplier.blank? %></span>
</p>

<p>
  <label>Descriptions:</label>
  <span><%= @item.descriptions %></span>
</p>

<p>
  <label>Cost price:</label>
  <span><%= @item.cost_price %></span>
</p>

<p>
  <label>Unit cost:</label>
  <span><%= @item.unit_cost %></span>
</p>

<p>
  <label>Quantity:</label>
  <span><%= @item.quantity %></span>
</p>
<p>
  <label>&nbsp;</label>
  <span><%= link_to 'Edit', edit_item_path(@item), :class => "link" %> </span>
</p>
</div>

