<div id="item_container">

<p>
  <label>Company name:</label>
  <span><%= @supplier.company_name %></span>
</p>

<p>
  <label>First name:</label>
  <span><%= @supplier.first_name %></span>
</p>

<p>
  <label>Middle name:</label>
  <span><%= @supplier.middle_name %></span>
</p>

<p>
  <label>Last name:</label>
  <span><%= @supplier.last_name %></span>
</p>

<p>
  <label>Email:</label>
  <span><%= @supplier.email %></span>
</p>

<p>
  <label>Phone number:</label>
  <span><%= @supplier.phone_number %></span>
</p>

<p>
  <label>Address:</label>
  <span><%= @supplier.address %></span>
</p>

<p>
  <label>Comments:</label>
  <span><%= @supplier.comments %></span>
</p>
<p>
  <label>&nbsp;</label>
  <span><%= link_to 'Edit', edit_supplier_path(@supplier), :class => "link" %> </span>
</p>

