<div id="item_container">

<p>
  <label>Company name:</label>
  <span><%= @supplier.company_name %></span>
</p>

<p>
  <label>Name:</label>
  <span><%= fullname(@supplier) %></span>
</p>

<p>
  <label>Email:</label>
  <span><%= @supplier.email %></span>
</p>

<p>
  <label>Phone number:</label>
  <span><%= @supplier.phone_number %></span>
</p>

<p>
  <label>Address:</label>
  <span><%= @supplier.address %></span>
</p>

<p>
  <label>Comments:</label>
  <span><%= @supplier.comments %></span>
</p>
<p>
  <label>&nbsp;</label>
  <span><%= link_to 'Edit', edit_supplier_path(@supplier), :class => "link" %> </span>
</p>

