  <div id="sales_label">
    <ul>
      <li><%= label_tag "", "Action", :class => 'shortlabel' %></li>
      <li><%= f.label :item_id, "Item Name",  :class => "itemlabel" %></li>
      <li><%= f.label :item_unit_price, "Unit Price", :class => "longlabel" %></li>
      <li><%= f.label :quantity_purchased, "Quantity", :class => "shortlabel" %></li>
      <li><%= f.label :discount_percent, "Discount (%)", :class => "longlabel" %></li>
      <li><%= f.label :amount, "Amount", :value => 0, :class => "longlabel" %></li>
    </ul>
    <div class="clearfloat"></div>
  </div>
  <div id="append">
  <%= f.fields_for :sale_items do |f| %>
      <div id="salediv">
        <%= link_to "Delete" , "#",:id => :sale_deleteitem0, :class => :sale_deleteitem, :onclick => "removediv2(this)"  %>
        <%= f.text_field :name, :class => "item_name",  :onkeyup => "create_autocomplete(this.id)"  %>
        <%= f.text_field :item_unit_price, :class => "item_unit_price" %>
        <%= f.text_field :quantity_purchased, :class => "quantity_purchased",:onkeyup => "getthefield2(this.id)" %>
        <%= f.text_field :discount_percent, :class => "discount_percent" %>
        <%= f.text_field :amount, :class => "amount", :readonly => "readonly" %>
        <%= f.hidden_field :item_id, :size => 10, :class => "item_id" %>
      </div>
  <% end %>
  </div>
  <br />
  <%= link_to "Add Item", "#", :id => 'sale_add_item', :class => "link" %>

