  <div class="field">
    <%= f.label :customer_id, "Customer Name : " %>
    <label id="fullname"></label>
    <br />
    <%= link_to "Delete Customer", "#", :id => "deletecustomer" %>
    <%= text_field_tag :customer_name %>
    <%= f.hidden_field :customer_id, :size => 5 %>
  </div>
  <div class="cancelsale">
    <%= link_to "Cancel Sale", new_sale_path %>
  </div>

  <div class="field">
    <%
      if @sale.new_record?
        order = options_for_select({ "Buy" => 1, "Order" => 0 }, 1 )
      else
          order = options_for_select({ "Buy" => 1 } )
      end
      %>
    <%= f.select :order, order   %>
  </div>

  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments, :rows => 3 %>
  </div>
  <div class="actions">
    <%= f.submit "Complete Sale" %>
  </div>


  <div class="field">
    <%= f.label :payment_type %><br />
    <%= f.select :payment_type, %w{ Cash Check Credit\ Card } %>

  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount, :size => 20 %>
    <%= f.hidden_field :customer_id, :value => 0, :size => 5 %>
  </div>
  <div class="addpayment">
    <br />
    <span class="link">Add Payment</span>
  </div>

