<h1>Listing sales</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Employee</th>
    <th>Comments</th>

    <th>Payment type</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= fullname(sale.customer) unless sale.customer.blank? %></td>
    <td><%= fullname(sale.employee) unless sale.employee.blank? %></td>
    <td><%= sale.comments %></td>

    <td><%= sale.payment_type %></td>
    <td><%= sale.amount %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

