<h1>Sales</h1>
<br />
<table class='shorttable'>
  <tr>
    <th>OR Number</th>
    <th>Customer</th>
    <th>Employee</th>
    <th>Comments</th>
    <th>Payment type</th>
    <th >Amount</th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td class='aligncenter'><%= sale.id %></td>
    <td><%= fullname(sale.customer) unless sale.customer.blank? %></td>
    <td><%= fullname(sale.employee) unless sale.employee.blank? %></td>
    <td><%= sale.comments %></td>

    <td class='alignright'><%= sale.payment_type %></td>
    <td class='alignright'><%= sale.amount %></td>
    <td>
      <%= link_to 'Sales Invoice', sale %> |
      <%= link_to printable, sale %> |
      <%= link_to 'Edit', edit_sale_path(sale) %>
    <%#= link_to 'Destroy', sale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

