<%= form_for(@sale, :url => sale_return_create_sales_path) do |f| %>
    <%= render 'errors' %>
<div id="mainLeftSales">
    <%= render 'item_label' , :f => f %>
</div>

<div id="mainRightSales">


  <div class="field">

    <%= f.hidden_field :sales_type, :value => 0 %>
  </div>
  <%= render 'subform' , :f => f%>
</div>
<% end %>

