<p id="notice"><%= notice %></p>

<p>
  <b>Date Purchased:</b>
  <%= @sale.created_at %>
</p>
<p>
  <b>Customer:   <%= fullname(@sale.customer) unless @sale.customer.blank? %>
</p>

<p>
  <b>Employee: <%= fullname(@sale.employee) unless @sale.employee.blank? %>
</p>

<p>
  <b>Comments:</b>
  <%= @sale.comments %>
</p>

<p>
  <b>Payment type:</b>
  <%= @sale.payment_type %>
</p>

<p>
  <b>Amount:</b>
  <%= @sale.amount %>
</p>
<br />

<table class='sales'>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Discount</th>
    <th>Amount</th>
 </tr>

<% @sale.sale_items.each do |item| %>
  <tr>
    <td><%= item.item.name %></td>
    <td><%= item.quantity_purchased %></td>
    <td class='alignright'><%= item.item_unit_price %></td>
    <td class='alignright'><%= item.discount_percent %></td>
    <td class='alignright'><%= amount_total(item.item_unit_price, item.quantity_purchased, 0) %></td>
  </tr>
<% end %>
</table>

