<p id="notice"><%= notice %></p>

<p>
  <b>Customer:   <%= fullname(@sale.customer) unless @sale.customer.blank? %>
</p>

<p>
  <b>Employee: <%= fullname(@sale.employee) unless @sale.employee.blank? %>
</p>

<p>
  <b>Comments:</b>
  <%= @sale.comments %>
</p>

<p>
  <b>Payment type:</b>
  <%= @sale.payment_type %>
</p>

<p>
  <b>Amount:</b>
  <%= @sale.amount %>
</p>

<table>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>

    <th>Discount</th>
 </tr>

<% @sale.sale_items.each do |item| %>
  <tr>
    <td><%= item.item_id %></td>
    <td><%= item.quantity_purchased %></td>
    <td><%= item.item_unit_price %></td>
    <td><%= item.discount_percent %></td>
  </tr>
<% end %>
</table>

