<h1>Sales Information</h1>
<br />
<div id="info">
<p>
  <label>Date Purchased</label>
  <span><%= @sale.created_at %></span>
</p>
<p>
  <label>Customer</label>
   <span> <%= fullname(@sale.customer) unless @sale.customer.blank? %></span>
</p>

<p>
  <label>Employee</label>
   <span><%= fullname(@sale.employee) unless @sale.employee.blank? %></span>
</p>

<p>
  <label>Comments</label>
  <span><%= @sale.comments %></span>
</p>

<p>
  <label>Payment type</label>
  <span><%= @sale.payment_type %></span>
</p>

<p>
  <label>Amount:</label>
  <span><%= @sale.amount %></span>
</p>
</div>
<br />

<table class='sales'>
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Discount</th>
    <th>Amount</th>
 </tr>

<% @sale.sale_items.each do |item| %>
  <tr>
    <td><%= item.item.name %></td>
    <td class='alignright'><%= item.quantity_purchased %></td>
    <td class='alignright'><%= item.item_unit_price %></td>
    <td class='alignright'><%= item.discount_percent %></td>
    <td class='alignright'><%= amount_total(item.item_unit_price, item.quantity_purchased, 0) %></td>
  </tr>
<% end %>
</table>

