<ul>
  <li><%=link_to 'Customers', customers_path %></li>
  <li><%=link_to 'Suppliers', suppliers_path %></li>
  <li><%=link_to 'Sales', sales_path %></li>
  <li><%=link_to 'Employees', employees_path %></li>
  <li><%=link_to 'Reports', reports_index_path %></li>
  <li><%=link_to 'Receivings', receivings_path %></li>
  <li><%=link_to 'Items', items_path %></li>
  <li><%=link_to 'Store Config', store_configs_path %></li>
</ul>

