<!DOCTYPE html>
<html>
<head>
  <title>POS</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>

